node_modules/
data/
*.log
__pycache__/
*.pyc
server/tgcalls_bridge/target/
server/whatsapp_rust_bridge/target/
data/wa_rust_session/
server/madeline_bridge/php-bin/
server/madeline_bridge/vendor/
server/madeline_bridge/session.madeline*


